.studentList-container a{
    background-color: #27833a;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 170px;
    text-decoration: none;
    text-align: center;
   }
   .addStudent-btn-section{
    padding: 40px;
    display: flex;
    justify-content: end;
   }
   .addStudent-btn{
    text-decoration: none;
    color: white;
    background-color: #27833a;
    padding: 12px;
    border-radius: 50px;
   }
   .addStudent-btn:hover{
    color:white;
    color: rgb(204, 248, 139);
   }
   .studentList-heading-section{
    padding: 20px 0px 0px 150px;
    font-weight: bolder;
    display: flex;
    justify-content: start;
   }
   .studentList-section{
    padding: 10px;
    margin: 15px;
    box-shadow: 0px 5px 25px 1px rgba(0,0,0,0.39);
   }
   .studentList-section .studentList-img{
    width: 60%;
    height: 100%;
   }
   .student-list-container{
    padding: 0px 110px;
   }
   .S-list-container{
    margin: 31px 120px 10px 201px;
   }
   .icon-section button{
    background: none;
    border: none;
   }
   .icon-section .link-btn{
    background: none;
    border: none;
   }
   .icon-section .edit-btn{
    color: blue;
   }
   .icon-section .del-btn{
    color: red;
   }
   